{% extends "base.html.twig" %}

{# Set up empty variables for tag content #}
{% set tagName = '' %}
{% set tagDescription = '' %}
{% set tagUrl = '' %}

{# Flags variable that helps with 404 template #}
{% set break = false %}
{% set notFound = true %}
{% for tag in getAllTags %}
    {% if slug == tag.url %}
        {# Set up tag variavles #}
        {% set tagName = tag.name %}
        {% set tagDescription = tag.description %}
        {% set tagUrl = tag.url %}
        {% set break = true %}
        {% set notFound = false %}
    {% endif %}
{% endfor %}

{% block title %}
    {% if break == false and notFound == true %}
        <title>ViaggIn: error 404, pagina non trovata</title>
    {% else %}
        <title>Tag {{ tagName|raw }}</title>
    {% endif %}
{% endblock %}

{% block description %}
    {% if break == false and notFound == true %}
        <meta name="Description" CONTENT="ViaggIn Error 404, page not found">
    {% else %}
        <meta name="Description" CONTENT="{{ tagDescription|raw }}">
    {% endif %}
{% endblock %}

{% block data_structure %}
    {% if break == false and notFound == true %}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "Page",
                "headline": "ViaggIn: error 404, pagina non trovata"
            }
        </script>
    {% else %}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "Page",
                "headline": "Tag {{ tagName|raw }}"
            }
        </script>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if break == true and notFound == false %}
        <div class="breadcrumbs">
            <div class="breadcrumbs__container">
                <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a>
                <span class="breadcrumbs__item breadcrumbs__item-span"> / </span>
                <a class="breadcrumbs__item link-no-style body-4" href="/tag/{{ tagUrl }}">{{ tagName }}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {# 
    # If the tag url exist
    # public it
    # otherwise show 404 template
    #}
    {% if (break == false and notFound == true) %}
        <div class="article__container-404">
            <h1 class="h1">Errore 404</h1>
            <p class="article__404-description body-2">Sembra che la pagina o l'articolo che stai cercando non esista.</p>
            <div class="article__404-container-action">
            <h3 class="h3">Cosa vuoi fare?</h3>
            <div class="article__404-action-flex">
                <div class="article__404-action-flex-single">
                    <a href="{{ path('app_home') }}" class="button button--yellow">Home</a>
                </div>
                <div class="article__404-action-flex-single">
                    <a href="{{ path('app_category_viaggi') }}" class="button button--yellow">Viaggi</a>
                </div>
                <div class="article__404-action-flex-single">
                    <a href="{{ path('app_category_eventi') }}" class="button button--yellow">Eventi</a>
                </div>
                <div class="article__404-action-flex-single">
                    <a href="{{ path('app_category_documenti') }}" class="button button--yellow">Documenti</a>
                </div>
                <div class="article__404-action-flex-single">
                    <a href="{{ path('app_category_estero') }}" class="button button--yellow">Vivere all'estero</a>
                </div>
            </div>
        </div>
    {% else %}
        <section class="tag">
            <div class="tag__container-title">
                <h1 class="h1">Tag {{ tagName }}: tutti gli articoli</h1>
            </div>
            {% for key, article in getAllArticles|reverse %}
                {% if key < 10 %}
                    {% for currentTag in article.getTags %}
                        {% if currentTag == tagName %}
                            <div class="article-card">
                                <a href="{{ path('app_article', {'slug': article.getUrl}) }}" class="article-card__link link-no-style">
                                    <div class="article-card__container-title">
                                        <h2 class="h3">{{ article.getTitle }}</h2>
                                    </div>
                                    <div class="article-card__container-data">
                                        <span class="article-card__data body-6">Pubblicato il {{ article.getDate|date('m/d/Y') }} - {{ article.getAuthor }} - {{article.getComments|length}} {{ (article.getComments|length == 1) ? 'commento' : 'commenti' }}</span>
                                    </div>
                                    <div class="article-card__container-content">
                                        <div class="article-card__paragraph body-2">
                                            <img class="article-card__img" src="../images/{{ article.getImage }}" alt="{{ article.getImage.title }}">
                                            {% set articleContent = article.content|slice(0, 400) ~ '...' %}
                                            {{ articleContent|raw }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}