{% extends "base.html.twig" %}

{# Set Tag Variables #}
{% if tag %}
    {% set tagName = tag.name %}
    {% set tagDescription = tag.description %}
    {% set tagUrl = tag.url %}
{% endif %}

{% block title %}
    <title>Tag {{ tagName|raw }}</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="{{ tagDescription|raw }}">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "Tag {{ tagName|raw }}"
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.viaggin.com/tag/{{ tagUrl }}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs__container">
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a>
            <span class="breadcrumbs__item breadcrumbs__item-span"> / </span>
            <a class="breadcrumbs__item link-no-style body-4" href="/tag/{{ tagUrl }}">{{ tagName }}</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="tag">
        <div class="tag__container-title">
            <h1 class="h1">Tag {{ tagName }}: tutti gli articoli</h1>
        </div>
        {% for key, article in getAllArticles|reverse %}
            {% if key < 10 %}
                {% for currentTag in article.getTags %}
                    {% if currentTag == tagName %}
                        <div class="article-card">
                            <a href="{{ path('app_article', {'slug': article.getUrl}) }}" class="article-card__link link-no-style">
                                <div class="article-card__container-title">
                                    <h2 class="h3">{{ article.getTitle }}</h2>
                                </div>
                                <div class="article-card__container-data">
                                    <span class="article-card__data body-6">Pubblicato il {{ article.getDate|date('m/d/Y') }} - {{ article.getAuthor }} - {{article.getComments|length}} {{ (article.getComments|length == 1) ? 'commento' : 'commenti' }}</span>
                                </div>
                                <div class="article-card__container-content">
                                    <div class="article-card__paragraph body-2">
                                        <img class="article-card__img" src="../images/{{ article.getImage }}" alt="{{ article.getImage.title }}">
                                        {% set articleContent = article.content|striptags|slice(0, 400) ~ '...' %}
                                        {{ articleContent|raw }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}