{% extends "base.html.twig" %}

{% block title %}
    <title>ViaggIn: chi siamo? Magazine e blog di viaggi ed eventi</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="ViaggIn: chi siamo? Blog e magazine di viaggi, eventi in Italia e all'estero, documenti per viaggiare e guide aggiornate per vivere e trasferirsi all'estero">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "ViaggIn: chi siamo? Magazine e blog di viaggi ed eventi"
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.viaggin.com/chi-siamo">
{% endblock %}

{% block body %}
    <section class="chi-siamo">
        <div class="chi-siamo__container-content">
            <h1 class="h1">Chi siamo</h1>
            <p>&nbsp;</p>
            <p class="body-2"><em>ViaggIn</em> è un magazine online specializzato nell’informazione relativa ai viaggi.</p>
            <p>&nbsp;</p>
            <p class="body-2">Noi di <em>ViaggIn</em> crediamo che viaggiare ti cambia la vita, che sia un modo per aprire i confini della propria mente.</p>
            <p>&nbsp;</p>
            <p class="body-2">Noi di <em>ViaggIn</em> crediamo che ci sia un posto nel modo per tutti, anche per te.</p>
            <p>&nbsp;</p>
            <p class="body-2">Questi sono i motivi che ci spingono ogni giorno a raccontare quello che succede nel mondo, dalla tua città fino agli antipodi del tuo paese.</p>
            <p>&nbsp;</p>
            <p class="body-2">Facciamo tutto questo con articoli e guide che hanno il fine di creare valore e di far viaggiare informati e preparati.</p>
            <p>&nbsp;</p>
            <p class="body-2">La nostra missione è quella di essere un punto di riferimento per tutti coloro che stanno cercando la propria destinazione in giro per il mondo, qualunque essa sia.</p>
            <p>&nbsp;</p>
        </div>
        <div class="chi-siamo__container-authors">
            <h2 class="chi-siamo__authors-title h2">Collaborano ed hanno collaborato con ViaggIn</h2>
            {% for author in getAllAuthors  %}
                <div class="author-card">
                    <a href="{{ path('app_author', {'slug': author.url }) }}" class="author-card__link link-no-style">
                        <div class="author-card__container-title">
                            <h2 class="h3">{{ author.name }}</h2>
                        </div>
                        <div class="author-card__container-content">
                            <div class="author-card__paragraph body-2">
                                <img class="author-card__img" src="../images/{{ author.image }}" alt="Immagine dell'autore {{ author.name }}">
                                {{ author.description }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}