{% extends "base.html.twig" %}

{% block title %}
    <title>ViaggIn contatti: form per scrivere allo staff del magazine</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="ViaggIn contatti: form per inviare messaggi e scrivere allo staff del blog e magazine di viaggio, eventi, documenti per viaggiare e guide per vivere all'estero">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "ViaggIn contatti: form per scrivere allo staff del magazine"
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://viaggin.com/contatti">
{% endblock %}

{% block body %}
    <section class="contact">
        <div class="contact__container-title">
            <h1 class="h1">ViaggIn Contatti </h1>
            <p class="body-2">Per qualsiasi comunicazione è possibile mettersi in contatto con lo staff di <em>ViaggIn</em> compilando il seguente form.</p>
        </div>     
        {{ form_start(contactForm) }}
            <div class="contact__grid">
                <div class="contact__container-name contact__input">
                    {{ form_row(contactForm.name) }}
                </div>
                <div class="contact__container-surname contact__input">
                    {{ form_row(contactForm.surname) }}
                </div>
                <div class="contact__container-email contact__input">
                    {{ form_row(contactForm.email) }}
                </div>
                <div class="contact__container-message contact__input">
                    {{ form_row(contactForm.message) }}
                </div>
                <div class="contact__container-privacy contact__input">
                    {{ form_widget(contactForm.privacy) }}
                    {{ form_label(contactForm.privacy, 'Accetto la privacy policy', { 
                        'label_attr': {'class': 'contact__privacy-label' } 
                        }) }}
                </div>
                <div class="contact__container-submit contact__input">
                    {{ form_row(contactForm.submit) }}
                    <p class="body-3">Per maggiori informazioni consulta la <a href="#">Privacy Policy di ViaggIn</a></p>
                </div>
            </div>
        {{ form_end(contactForm) }}
    </section>
{% endblock %}