{% extends "base.html.twig" %}

{% block index %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
    <section class="contact-confirm">
        <h2 class="h2">Grazie per aver contattato lo staff di ViaggIn</h2>
        <p class="body-2">Un membro dello staff di <em>ViaggIn</em> si metterà in contatto con te se necessario</p>
        
        <div class="contact-confirm__container-action">
            <h3 class="contact-confirm__title-sub h3">Cosa vuoi fare?</h3>
            <div class="contact-confirm__action-flex">
                <div class="contact-confirm__action-flex-single">
                    <a href="{{ path('app_home') }}" class="button button--yellow">Home</a>
                </div>
                <div class="contact-confirm__action-flex-single">
                    <a href="{{ path('app_category_viaggi') }}" class="button button--yellow">Viaggi</a>
                </div>
                <div class="contact-confirm__action-flex-single">
                    <a href="{{ path('app_category_eventi') }}" class="button button--yellow">Eventi</a>
                </div>
                <div class="contact-confirm__action-flex-single">
                    <a href="{{ path('app_category_documenti') }}" class="button button--yellow">Documenti</a>
                </div>
                <div class="contact-confirm__action-flex-single">
                    <a href="{{ path('app_category_estero') }}" class="button button--yellow">Vivere all'estero</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}