{# Set Author Variables #}
{% if author %}
    {% set authorName = author.name %}
    {% set authorDescription = author.description %}
    {% set authorUrl = author.url %}
    {% set authorImage = author.image %}
{% endif %}

{% extends "base.html.twig" %}

{% block title %}
    <title>{{ authorName|raw }} autore di ViaggIn</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="{{ authorDescription|raw }}">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "Autore {{ authorName }}"
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://viaggin.com/autori/{{ slug }}/pagina-{{ pageNumber }}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs__container">
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a>
            <span class="breadcrumbs__item breadcrumbs__item-span"> / </span>
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_author', {'slug': slug, 'pageNumber': pageNumber}) }}">Autore {{ authorName }}</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="author">
        <div class="author-card">
            <a href="{{ path('app_author', {'slug': slug, 'pageNumber': 0}) }}" class="author-card__link link-no-style">
                <div class="author-card__container-title">
                    <h2 class="h3">{{ authorName }}</h2>
                </div>
                <div class="author-card__container-content">
                    <div class="author-card__paragraph body-2">
                        <img class="author-card__img" src="../../images/{{ authorImage }}" alt="Immagine dell'autore {{ authorName }}" width="150" height="150">
                        {{ authorDescription }}
                    </div>
                </div>
            </a>
        </div>
        <div class="author__container-all-authors">
            <a href="{{ path('app_authors') }}" class="button button--yellow">Tutti gli autori</a>
        </div>
        <div class="author__container-articles">
            <div class="author__container-title">
                <h2 class="h2">Tutti gli articoli di {{ authorName }}</h2>
            </div>
            {% for article in articles %}
            <div class="article-card">
                <a href="{{ path('app_article', {'slug': article.articleUrl }) }}" class="article-card__link link-no-style">
                    <div class="article-card__container-title">
                        <h2 class="h3">{{ article.title }}</h2>
                    </div>
                    <div class="article-card__container-data">
                        <span class="article-card__data body-6">Pubblicato il {{ article.date|date('d/m/Y') }}</span>
                    </div>
                    <div class="article-card__container-content">
                        <div class="article-card__paragraph body-2">
                            <img class="article-card__img" src="../../images/{{ article.file_name }}" alt="{{ article.alternative_text }}" width="150" height="100">
                            {% set articleContent = article.content|striptags|slice(0, 300) ~ '...' %}
                            {{ articleContent|raw }}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% set prevPageNumber = pageNumber - 1 %}
            {% set nextPageNumber = pageNumber + 1 %}
            <div class="article-buttons">
                <div class="article-buttons__container-btn-prev">
                    {% if prevPageNumber >= 0 %}
                        <a href="{{ path('app_author', {'slug': slug, 'pageNumber': prevPageNumber}) }}"><button class="button button--black">Prev</button></a>
                    {% endif %}
                </div>
                <div class="article-buttons__container-btn-next">
                    {% if articles|length == 10 %}
                        <a href="{{ path('app_author', {'slug': slug, 'pageNumber': nextPageNumber}) }}"><button class="button button--black">Next</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}