{% extends "base.html.twig" %}

{% block title %}
    <title>Lista di tutti gli autori che scrivo per ViaggIn</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="ViaggIn: lista degli autori che scrivono gli articoli e le guide di viaggio, degli eventi, dei documenti per viaggiare e le news per vivere all'estero">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs__container">
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a>
            <span class="breadcrumbs__item breadcrumbs__item-span"> / </span>
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_authors') }}">Tutti gli autori</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="authors">
        <div class="authors__container-title">
            <h1 class="h1">Tutti gli autori di ViaggIn</h1>
        </div>
        {% for author in getAllAuthors  %}
            <div class="author-card">
                <a href="{{ path('app_author', {'slug': author.url }) }}" class="author-card__link link-no-style">
                    <div class="author-card__container-title">
                        <h2 class="h3">{{ author.name }}</h2>
                    </div>
                    <div class="author-card__container-content">
                        <div class="author-card__paragraph body-2">
                            <img class="author-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                            {{ author.description }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>
{% endblock %}