{% extends "base.html.twig" %}

{# Set Author Variables #}
{% if author %}
    {% set authorName = author.name %}
    {% set authorDescription = author.description %}
    {% set authorUrl = author.url %}
    {% set authorImage = author.image %}
{% endif %}

{% block title %}
    <title>{{ authorName|raw }} autore di ViaggIn</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="{{ authorDescription|raw }}">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "Autore {{ authorName }}"
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://viaggin.com/autori/{{ authorUrl }}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs__container">
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a>
            <span class="breadcrumbs__item breadcrumbs__item-span"> / </span>
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_author', {'slug': authorUrl}) }}">Autore {{ authorName }}</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="author">
        <div class="author-card">
            <a href="{{ path('app_author', {'slug': authorUrl}) }}" class="author-card__link link-no-style">
                <div class="author-card__container-title">
                    <h2 class="h3">{{ authorName }}</h2>
                </div>
                <div class="author-card__container-content">
                    <div class="author-card__paragraph body-2">
                        <img class="author-card__img" src="../images/{{ authorImage }}" alt="Immagine dell'autore {{ authorName }}">
                        {{ authorDescription }}
                    </div>
                </div>
            </a>
        </div>
        <div class="author__container-all-authors">
            <a href="{{ path('app_authors') }}" class="button button--yellow">Tutti gli autori</a>
        </div>
        <div class="author__container-articles">
            <div class="author__container-title">
                <h2 class="h2">Tutti gli articoli di {{ authorName }}</h2>
            </div>
            {% for key, article in getAllArticles|reverse %}
                {% if key < 10 %}
                    {% if article.author == authorName %}
                        <div class="article-card">
                            <a href="{{ path('app_article', {'slug': article.getUrl}) }}" class="article-card__link link-no-style">
                                <div class="article-card__container-title">
                                    <h2 class="h3">{{ article.getTitle }}</h2>
                                </div>
                                <div class="article-card__container-data">
                                    <span class="article-card__data body-6">Pubblicato il {{ article.getDate|date('m/d/Y') }} - {{ article.getAuthor }} - {{article.getComments|length}} {{ (article.getComments|length == 1) ? 'commento' : 'commenti' }}</span>
                                </div>
                                <div class="article-card__container-content">
                                    <div class="article-card__paragraph body-2">
                                        <img class="article-card__img" src="../images/{{ article.getImage }}" alt="{{ article.getImage.title }}">
                                        {% set articleContent = article.content|striptags|slice(0, 400) ~ '...' %}
                                        {{ articleContent|raw }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}