{% extends "base.html.twig" %}

{% block title %}
    <title>Eventi in Italia e nel mondo: tutti gli articoli di ViaggIn</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="Eventi in Italia e nel mondo: articoli e guide di fiere, sagre, feste, mostre e musei in Italia, Europa e nel resto del mondo del magazine e blog ViaggIn">
{% endblock %}

{% block body %}
    <section class="category__container">
        <div class="category__container-categories">
            <div class="category__container-category category__container-category--red">
                <h2 class="category__category-title h2">Eventi</h2>
                <p class="category__category-description body-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
            </div>
        </div>
    </section>
    <section class="home__container-articles">
        <div class="home__container-title">
            <h2 class="h2">Gli eventi di ViaggIn: tutti gli articoli</h2>
        </div>
        {% for key, article in getArticles|reverse %}
            {% if key < 10 and article.getCategory() == 'Eventi' %}
                <div class="article-card">
                    <a href="{{ article.getUrl }}" class="article-card__link link-no-style">
                        <div class="article-card__container-title">
                            <h2 class="h3">{{ article.getTitle }}</h2>
                        </div>
                        <div class="article-card__container-data">
                            <span class="article-card__data body-6">Pubblicato il {{ article.getDate|date('m/d/Y') }} - {{ article.getAuthor }} - {{article.getComments|length}} {{ (article.getComments|length == 1) ? 'commento' : 'commenti' }}</span>
                        </div>
                        <div class="article-card__container-content">
                            <div class="article-card__paragraph body-2">
                                <img class="article-card__img" src="../images/{{ article.getImage }}" alt="{{ article.getImage.title }}">
                                {% set articleContent = article.content|slice(0, 400) ~ '...' %}
                                {{ articleContent|raw }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        <div class="category__container-load">
            <a href="{{ path('app_categories') }}" class="button button--yellow">Tutte le categorie</a>
        </div>
    </section>
{% endblock %}