{% extends "base.html.twig" %}

{% block title %}
    <title>I viaggi di ViaggIn: elenco degli articoli della categoria</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="Viaggi: lista degli articoli per viaggiare in Italia, Europa e resto del mondo e guide per le vacanze nella categoria viaggi del blog e magazine ViaggIn">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "I viaggi di ViaggIn: elenco degli articoli della categoria"
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://viaggin.com/category/viaggi-pagina-{{ pageNumber }}">
{% endblock %}

{% block body %}
    <section class="category__container">
        <div class="category__container-categories">
            <div class="category__container-category">
                <h2 class="category__category-title h2">Viaggi</h2>
                <p class="category__category-description body-2">I Viaggi di <em>ViaggIn</em>: itinerari, destinazioni e curiosità da ogni parte del mondo</p>
            </div>
        </div>
    </section>
    <section class="home__container-articles">
        <div class="home__container-title">
            <h2 class="h2">I viaggi di ViaggIn: tutti gli articoli</h2>
        </div>
        {% for article in articles %}
            <div class="article-card">
                <a href="{{ path('app_article', {'slug': article.url}) }}" class="article-card__link link-no-style">
                    <div class="article-card__container-title">
                        <h2 class="h3">{{ article.title }}</h2>
                    </div>
                    <div class="article-card__container-data">
                        <span class="article-card__data body-6">Pubblicato il {{ article.date|date('d/m/Y') }}</span>
                    </div>
                    <div class="article-card__container-content">
                        <div class="article-card__paragraph body-2">
                            <img class="article-card__img" src="../images/{{ article.file_name }}" alt="{{ article.alternative_text }}">
                            {% set articleContent = article.content|striptags|slice(0, 300) ~ '...' %}
                            {{ articleContent|raw }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% set prevPageNumber = pageNumber - 1 %}
        {% set nextPageNumber = pageNumber + 1 %}
        <div class="article-buttons">
            <div class="article-buttons__container-btn-prev">
                {% if prevPageNumber >= 0 %}
                    <a href="{{ path('app_category_viaggi', {pageNumber: prevPageNumber}) }}"><button class="button button--black">Prev</button></a>
                {% endif %}
            </div>
            <div class="article-buttons__container-btn-next">
                {% if articles|length == 10 %}
                    <a href="{{ path('app_category_viaggi', {pageNumber: nextPageNumber}) }}"><button class="button button--black">Next</button></a>
                {% endif %}
            </div>
        </div>
        <div class="category__container-load">
            <a href="{{ path('app_categories') }}" class="button button--yellow">Tutte le categorie</a>
        </div>
    </section>
{% endblock %}