{% extends "base.html.twig" %}

{% block title %}
    <title>ViaggIn: risultati di ricerca</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="ViaggIn: risultati di ricerca degli articoli">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "ViaggIn: risultati di ricerca"
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://viaggin.com/cerca/risultati-di-ricerca">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs__container">
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a>
            <span class="breadcrumbs__item breadcrumbs__item-span"> / </span>
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_search') }}">Risultati di ricerca</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="search">
        {{ form_start(searchForm, {'action': path('app_search')}) }}
            <div class="search__form-wrapper">
                <div class="search__form-header">
                    <h2 class="h2">Cerca su ViaggIn</h2>
                </div>
                <div class="search__form-search-field">
                    {{ form_row(searchForm.search) }}
                </dv>
                <div class="search__form-submit-field">
                    {{ form_row(searchForm.submit) }}
                </div>
            </div>
        {{ form_end(searchForm) }}
    </section>
    <section class="home__container-articles">
        <div class="home__container-title">
            <h2 class="h2">{{ searchTitle }}</h2>
            {% if searchInput|length > 0 %}
                <h3 class="h3">Cerca: {{ searchInput }}</h3>
            {% endif %}
            {% if articles|length > 0 %}
                {% if articles|length == 1 %}
                    <h4 class="h4">Trovato {{ articles|length }} risultato</h4>
                {% else %}
                    <h4 class="h4">Trovati {{ articles|length }} risultati</h4>
                {% endif %}
            {% else %}
                <h4 class="h4">Nessun risultato trovato</h4>
            {% endif %}
        </div>
        {% for article in articles %}
            <div class="article-card">
                <a href="{{ path('app_article', {'slug': article.url}) }}" class="article-card__link link-no-style">
                    <div class="article-card__container-title">
                        <h2 class="h3">{{ article.title }}</h2>
                    </div>
                    <div class="article-card__container-data">
                        <span class="article-card__data body-6">Pubblicato il {{ article.date|date('d/m/Y') }}</span>
                    </div>
                    <div class="article-card__container-content">
                        <div class="article-card__paragraph body-2">
                            <img class="article-card__img" src="../images/{{ article.file_name }}" alt="{{ article.alternative_text }}" width="150" height="100">
                            {% set articleContent = article.content|striptags|slice(0, 300) ~ '...' %}
                            {{ articleContent|raw }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>
{% endblock %}