{% extends "base.html.twig" %}

{# Set Article Variables #}
{% if article %}
    {% set articleTitle = article.title %}
    {% set articleDescription = article.description %}
    {% set articleUrl = article.url %}
    {% set articleContent = article.content %}
    {% set articleImage = article.image %}
    {% set articleImageAlt = article.image %}
    {% set articleAuthor = article.author %}
    {% set articleAuthorImage = article.author.image %}
    {% set articleAuthorDescription = article.author.description %}
    {% set articleAuthorUrl = article.author.url %}
    {% set articleDate = article.date %}
    {% set articleUpdate = article.getUpdateAt %}
    {% set articleCategory = article.category %}
    {% set articleCategoryUrl = article.category.url %}
    {% set articleTag = article.getTags %}
    {% set articleComments = article.getComments %}
    {% set articleCommentsNum = articleComments|length %}
{% endif %}

{# 
# Set up date variables.
# Use seconds to compare date.
# This date is +1hour to UK time
# it is like Italy time
#}
{% set getDateToday = "now"|date('U') %}

{% block title %}
    <title>{{ articleTitle|raw }}</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="{{ articleDescription|raw }}">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Article",
            "headline": "{{ articleTitle|raw }}"
        },
        {
            "datePublished": "{{ articleDate|date('Y-m-d') }}",
            "dateModified": "{{ articleUpdate|date('Y-m-d') }}",
            "author" {
                "@type": "Person",
                "name": "{{ articleAuthor|raw }}",
            },
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.viaggin.com/{{ articleUrl }}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs__container">
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a>
            <span class="breadcrumbs__item breadcrumbs__item-span"> / </span>
            <a class="breadcrumbs__item link-no-style body-4" href="{{ articleCategoryUrl }}">{{ articleCategory }}</a>
            <span class="breadcrumbs__item breadcrumbs__item-span"> / </span>
            <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_article', {'slug': articleUrl}) }}">{{ articleTitle }}</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <article class="article">
        <h1 class="article__title h1">{{ articleTitle }}</h1>
        <ul class="article__data">
            <li class="article__data-item body-3">Autore: {{ articleAuthor }}</li>
            <li class="article__data-item body-3">Pubblicato il: {{ articleDate|date('d-m-Y') }}</li>
            <li class="article__data-item body-3">Ultima modifica: {{ articleUpdate|date('d-m-Y') }}</li>
            <li class="article__data-item body-3">
                <a class="list-no-style__inherit-color" href="#article-container-comments">Commenti: {{ articleCommentsNum }}</a>
            </li>
        </ul>
        {{ articleContent|raw }}
        <div class="article__container-image">
            <img class="article__img" src="../images/{{ articleImage }}" alt="{{ articleImageAlt }}">
        </div>
        <div class="article__container-taxonomi">
            <ul class="article__taxonomi-menu list-no-style">
                <li class="list-no-style__item">
                    <span class="body-4">Categoria:</span> <a href="{{ articleCategoryUrl }}" class="link body-4">{{ articleCategory }}</a>
                </li>
                <li class="list-no-style__item">
                    {{ (articleTag|length == 1) ? '<span class="body-4">Tag:</span>' : '<span class="body-4">Tags:</span>' }}
                    {% for key, tag in articleTag %}
                        <a class="link body-4" href="{{ path('app_tag', {'slug': tag.url }) }}">{{ tag.name }}</a>{{ (key != articleTag|length - 1) ? ',' : '' }}
                    {% endfor %}
                </li>
            </ul>
        </div>
    </article>
    <section class="article__container-author">
        <h2 class="article__container-author-title h2">Articolo scritto da</h2>
        <div class="author-card">
            {# <p>{{ path('app_article', {'slug': article.getUrl}) }}</p> #}
            <p>{{ articleAuthorUrl }}</p>
            <a href="{{ path('app_author', { 'slug': articleAuthorUrl }) }}" class="author-card__link link-no-style">
                <div class="author-card__container-title">
                    <h2 class="h3">{{ articleAuthor.name }}</h2>
                </div>
                <div class="author-card__container-content">
                    <p class="author-card__paragraph body-2">
                        <img class="author-card__img" src="../images/{{ articleAuthorImage }}" alt="Immagine dell'autorə {{ articleAuthor }}">
                        {{ articleAuthorDescription }}
                    </p>
                </div>
            </a>
        </div>
    </section>
    <section id="article-container-comments" class="article__container-comments-form">
        <h3 class="article__comments-sub-title h3">Lascia un commento</h3>
        <!-- Success message if form has been submitted -->
        {% for message in app.flashes('success') %}
            <div class="article__container-comments-success">
                <p class="article__comments-success body-2">{{ message }}</p>
            </div>
        {% endfor %}
        {{ form_start(formComment, {'action': '#article-container-comments'}) }}
            <div class="article__form-comments-grid">
                <div class="article__form-comments-name article__input">
                    {{ form_row(formComment.name) }}
                </div>
                <div class="article__form-comments-email article__input">
                    {{ form_row(formComment.email) }}
                </div>
                <div class="article__form-comments-comment article__input">
                    {{ form_row(formComment.comment) }}
                </div>
                <div class="article__form-comments-privacy article__input">
                    {{ form_widget(formComment.privacy) }}
                    {{ form_label(formComment.privacy, 'Accetto la privacy policy', { 
                        'label_attr': {'class': 'contact__privacy-label' } 
                        }) }}
                </div>
                <div class="article__form-comments-submit article__input">
                    {{ form_row(formComment.submit) }}
                    <p class="body-3">Per maggiori informazioni consulta la <a href="#">Privacy Policy di ViaggIn</a></p>
                </div>
            </div>
        {{ form_end(formComment) }}
    </section>
    <section id="" class="article__container-comments">
        <h2 class="article__comments-title h2">
            {{ articleCommentsNum }} {{ (articleCommentsNum == 1) ? 'commento' : 'commenti' }}
        </h2>
        {% for comment in articleComments %}
            {% if comment.approved %}
                <div class="comment-card">
                    <div class="comment-card__container-title">
                        <h2 class="h3">{{ comment.name }}</h2>
                    </div>
                    <div class="comment-card__container-data">
                        <span class="comment-card__data body-6">Pubblicato il {{ comment.getDate }} da {{ comment.name }}</span>
                    </div>
                    <div class="comment-card__container-content">
                        <p class="comment-card__paragraph body-2">
                            {{ comment.getContent }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}