<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}<title>Viaggin - blog e magazine di notizie relative ai viaggi</title>{% endblock %}

        {% block description %}
            <meta name="Description" CONTENT="Viaggin è un blog di notizie relative ai viaggi, ai documenti utili per viaggiare, agli eventi nel mondo e un magazine di news per chi vivere all'estero">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="../images/viaggin-logo.png">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <label class="nav__label" for="open">
                    <span class="nav__toggle"></span>
                    <span class="nav__toggle"></span>
                    <span class="nav__toggle"></span>
                </label>
                <input class="nav__input" name="open" id="open" type="checkbox">
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/" ? 'link-mark' : '' }}" href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/category/viaggi" ? 'link-mark' : '' }}" href="{{ path('app_category_viaggi') }}">Viaggi</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/category/eventi" ? 'link-mark' : '' }}" href="{{ path('app_category_eventi') }}">Eventi</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/category/documenti" ? 'link-mark' : '' }}" href="{{ path('app_category_documenti') }}">Documenti</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/category/vivere-estero" ? 'link-mark' : '' }}" href="{{ path('app_category_estero') }}">Vivere all'estero</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/chi-siamo" ? 'link-mark' : '' }}" href="{{ path('app_about-us') }}">Chi siamo</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/contatti" ? 'link-mark' : '' }}" href="{{ path('app_contact') }}">Contatti</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN')  %}
                        <li class="nav__item">
                            <a class="link-effect-load" href="{{ path('app_admin') }}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="header__container">
                <div class="header__logo">
                    <img class="header__logo" src="{{ asset('images/viaggin-logo.png') }}" alt="Viaggin Logo">
                </div>
                {% block breadcrumbs %}
                    <div class="breadcrumbs">
                        {% if app.request.pathinfo == '/' %}
                            <div class="breadcrumbs__container"><a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a></div>
                        {% elseif app.request.pathinfo == '/category/viaggi' %}
                            <div class="breadcrumbs__container"><a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a> <span class="breadcrumbs__item breadcrumbs__item-span">/</span> <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_category_viaggi') }}">Viaggi</a></div>
                        {% elseif app.request.pathinfo == '/category/eventi' %}
                            <div class="breadcrumbs__container"><a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a> <span class="breadcrumbs__item breadcrumbs__item-span">/</span> <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_category_eventi') }}">Eventi</a></div>
                        {% elseif app.request.pathinfo == '/category/documenti' %}
                            <div class="breadcrumbs__container"><a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a> <span class="breadcrumbs__item breadcrumbs__item-span">/</span> <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_category_documenti') }}">Documenti</a></div>
                        {% elseif app.request.pathinfo == '/category/vivere-estero' %}
                            <div class="breadcrumbs__container"><a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a> <span class="breadcrumbs__item breadcrumbs__item-span">/</span> <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_category_estero') }}">Vivere all'estero</a></div>
                        {% elseif app.request.pathinfo == '/chi-siamo' %}
                            <div class="breadcrumbs__container"><a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a> <span class="breadcrumbs__item breadcrumbs__item-span">/</span> <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_about-us') }}">Chi Siamo</a></div>
                        {% elseif app.request.pathinfo == '/contatti' %}
                            <div class="breadcrumbs__container"><a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a> <span class="breadcrumbs__item breadcrumbs__item-span">/</span> <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_contact') }}">Contatti</a></div>
                        {% elseif app.request.pathinfo == '/contatti-conferma' %}
                            <div class="breadcrumbs__container"><a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_home') }}">Home</a> <span class="breadcrumbs__item breadcrumbs__item-span">/</span> <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_contact') }}">Contatti</a> <span class="breadcrumbs__item breadcrumbs__item-span">/</span> <a class="breadcrumbs__item link-no-style body-4" href="{{ path('app_contact_confirm') }}">Contatti Conferma</a></div>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </header>
        <div class="content">
            <main class="content__main">
                {% block body %}{% endblock %}
            </main>
            <aside class="content__sidebar">
                <div class="content__sidebar-content">
                    <div class="content__sidebar-container-title">
                        <h3 class="content__sidebar-title h4">Seguici su:</h3>
                    </div>
                    <ul class="content__sidebar-menu">
                        <li class="content__sidebar-menu-item">
                            <a class="link-no-style" href="https://www.facebook.com/marcovaleri.net" target="_blank">
                                <img src="{{ asset('images/facebook-icon.svg') }}" alt="Facebook Icon">
                            </a>
                        </li>
                        <li class="content__sidebar-menu-item">
                            <a class="link-no-style" href="https://www.instagram.com/marco__valeri/" target="_blank">
                                <img src="{{ asset('images/facebook-icon.svg') }}" alt="Instagram Icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content__sidebar-content">
                    <div class="content__sidebar-container-title">
                        <h3 class="content__sidebar-title h4">Categorie</h3>
                    </div>
                    <ul class="content__sidebar-menu-list">
                        <li class="content__sidebar-menu-item-list">
                            <a class="link body-2" href="{{ path('app_category_viaggi') }}">
                                Viaggi
                            </a>
                        </li>
                        <li class="content__sidebar-menu-item-list">
                            <a class="link body-2" href="{{ path('app_category_eventi') }}">
                                Eventi
                            </a>
                        </li>
                        <li class="content__sidebar-menu-item-list">
                            <a class="link body-2" href="{{ path('app_category_documenti') }}">
                                Documenti di viaggio
                            </a>
                        </li>
                        <li class="content__sidebar-menu-item-list">
                            <a class="link body-2" href="{{ path('app_category_estero') }}">
                                Vivere all'estero
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <footer class="footer">
            <div class="footer__container-content">
                <p class="body-3">Made with <span class="footer__heart">&hearts;</span> in London by Marco Valeri - &copy; {{ "now"|date("Y") }} - All rights reserved</p>
            </div>
        </footer>
    </body>
</html>
