<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ViaggIn{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="../images/viaggin-logo.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <label class="nav__label" for="open">
                    <span class="nav__toggle"></span>
                    <span class="nav__toggle"></span>
                    <span class="nav__toggle"></span>
                </label>
                <input class="nav__input" name="open" id="open" type="checkbox">
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/" ? 'link-mark' : '' }}" href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/category/viaggi" ? 'link-mark' : '' }}" href="{{ path('app_category_viaggi') }}">Viaggi</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/category/eventi" ? 'link-mark' : '' }}" href="{{ path('app_category_eventi') }}">Eventi</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/category/documenti" ? 'link-mark' : '' }}" href="{{ path('app_category_documenti') }}">Documenti</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/category/vivere-estero" ? 'link-mark' : '' }}" href="{{ path('app_category_estero') }}">Vivere all'estero</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/chi-siamo" ? 'link-mark' : '' }}" href="{{ path('app_home') }}" href="#">Chi siamo</a>
                    </li>
                    <li class="nav__item">
                        <a class="link-effect-load {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/contatti" ? 'link-mark' : '' }}" href="{{ path('app_home') }}" href="#">Contatti</a>
                    </li>
                </ul>
            </nav>
            <div class="header__container">
                <div class="header__logo">
                    <img class="header__logo" src="../images/viaggin-logo.png" alt="Viaggin Logo">
                </div>
            </div>
        </header>
        <div class="content">
            <main class="content__main">
                {% block body %}{% endblock %}
            </main>
            <aside class="content__sidebar">
                <div class="content__sidebar-content">
                    <div class="content__sidebar-container-title">
                        <h3 class="content__sidebar-title h4">Seguici su:</h3>
                    </div>
                    <ul class="content__sidebar-menu">
                        <li class="content__sidebar-menu-item">
                            <a class="link-no-style" href="https://www.facebook.com/marcovaleri.net" target="_blank">
                                <img src="../images/facebook-icon.svg" alt="Facebook Icon">
                            </a>
                        </li>
                        <li class="content__sidebar-menu-item">
                            <a class="link-no-style" href="https://www.instagram.com/marco__valeri/" target="_blank">
                                <img src="../images/facebook-icon.svg" alt="Instagram Icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content__sidebar-content">
                    <div class="content__sidebar-container-title">
                        <h3 class="content__sidebar-title h4">Ultimi articoli:</h3>
                    </div>
                    <ul class="content__sidebar-menu-list">
                        <li class="content__sidebar-menu-item-list">
                            <a class="link body-2" href="https://www.facebook.com/marcovaleri.net" target="_blank">
                                Parchi di Roma: elenco dei migliori parchi da visitare
                            </a>
                        </li>
                        <li class="content__sidebar-menu-item-list">
                            <a class="link body-2" href="https://www.instagram.com/marco__valeri/" target="_blank">
                                Parchi di Roma: elenco dei migliori parchi da visitare
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <footer class="footer">
            <div class="footer__container-content">
                <p class="body-3">Made with <span class="footer__heart">&hearts;</span> in London by Marco Valeri - &copy; {{ "now"|date("Y") }} - All rights reserved</p>
            </div>
        </footer>
    </body>
</html>
